Open Arduino IDE and go to Sketch -> Include Library -> Manage Libraries. Find and install the following libraries:

PubSubClient by Nick O’Leary
WiFiEsp by bportaluri
Adafruit Unified Sensor by Adafruit
DHT sensor library by Adafruit
Arduino ThingsBoard SDK by ThingsBoard
ArduinoJSON by bblanchon
Arduino Http Client